/*GENERAL CSS*/

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: block;
	/* To stop acidental highlighting of photos*/
	user-select: none;
}

img {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color .3s;
}

a:hover {
	color: lightcoral;
}

h2 {
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	font-size: 20pt;
	color: dimgray;
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	color: dimgray;
	padding: 0;
	margin: 6px;
}


/*HEADER*/

#header {
	float: left;
	width: 50%;
	display: block;
}

#header h1 {
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 45pt;
	color: dimgray;
	padding-top: 20px;
	margin: 0;
	padding-bottom: 20px;
}


/*FOOTER*/

footer {
	clear: both;
	display: block;
	width: 100%;
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	text-align: center;
	color: grey;
	padding-top: .3em;
	padding-bottom: .2em;
	height: 1.4em;
}

footer a {
	margin-left: 5em;
}

.wrapper {
	/*Push footer to bottom*/
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: -2em;
}

@media (max-device-width: 700px) {
	/*Make it more readable on mobile*/
	footer {
		font-size: 200%;
		height: 3em;
	}
	footer a {
		margin-left: 0;
	}
	.wrapper {
		margin-bottom: 0em;
	}
}

@media (max-width: 600px) {
	footer {
		font-size: 150%;
		height: 3em;
	}
	footer a {
		margin-left: 0;
	}
	.wrapper {
		margin-bottom: 0em;
	}
}


/*MENU*/

#navlist {
	font-family: 'Muli', sans-serif;
	font-size: 150%;
	font-weight: lighter;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 35px;
	text-align: center;
}

#navlist li {
	display: inline-block;
	padding-top: 35px;
	margin-left: 2%;
	margin-right: 2%;
}

#navlist a {
	color: dimgray;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	transition: color .3s;
}

#navlist a:hover,
#navlist .current {
	color: lightcoral;
}

@media (max-width: 1250px) {
	/*switch to two rows*/
	#header {
		width: 100%;
	}
	#header h1,
	#navlist,
	#navlist li {
		padding: 0;
	}
}

#navdivider {
	display: none;
}

@media (max-width: 700px) {
	/*Every menu item has it's own row*/
	#navlist {
		font-size: 200%;
		margin: 0;
		padding-bottom: 5px;
	}
	#navlist li {
		width: 100%;
		padding-top: 0px;
		margin: 1px;
	}
	#header h1 {
		font-size: 35pt;
	}
	#navdivider {
		display: block;
	}
}

@media (max-device-width: 700px) {
	/*For mobile*/
	#header h1 {
		font-size: 55pt;
		padding-top: 30px;
	}
	#navlist {
		font-size: 250%;
		margin: 0;
		padding-bottom: 15px;
	}
	#navlist li {
		width: 100%;
		padding-top: 5px;
		margin: 1px;
	}
	#navdivider {
		display: block;
	}
}

.dropdown:hover .dropdown-content {
	display: block;
}


/*HEADER*/

.homepage #navlist a {
	color: white;
}

.homepage #navlist {
	font-weight: bolder;
}

.homepage #header h1 {
	color: white;
	vertical-align: center;
	font-weight: bolder;
}

@media (max-device-width: 700px) {
	/*For mobile*/
	.homepage #header h1 {
		font-size: 55pt;
		padding-top: 30px;
	}
	.homepage #navlist {
		font-size: 350%;
		margin: 0;
		padding-bottom: 40px;
	}
	.homepage #navlist li {
		width: 100%;
		padding-top: 5px;
		margin: 1px;
	}
}


/*HOMEPAGE VIDEO (This code is cited on the resources page)*/

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		height: 300%;
		top: -100%;
	}
}

@media (max-aspect-ratio: 16/9) {
	.fullscreen-bg__video {
		width: 300%;
		left: -100%;
	}
}

@media (max-width: 700px) {
	/*Replace video with gif in small screens*/
	.fullscreen-bg {
		background: url('../videos/WebsiteHome.gif') center center / cover no-repeat;
	}
	.fullscreen-bg__video {
		display: none;
	}
}

@media (max-device-width: 700px) {
	/*Replace video with gif mobile*/
	.fullscreen-bg {
		background: url('../videos/WebsiteHome.gif') center center / cover no-repeat;
	}
	.fullscreen-bg__video {
		display: none;
	}
}


/*PHOTOGRAPY PAGE*/

.option {
	float: left;
	width: 100%;
}

.option img {
	transition: opacity .4s ease-in-out;
	background-size: contain;
	margin-bottom: -4px;
}

.option img.top:hover {
	opacity: 0;
}

@media (min-device-width: 900px) and (min-width: 900px) {
	.option {
		width: 50%;
	}
}


/*PHOTOGRAPHY SUB PAGES*/

div.pic {
	/*1 photo per row (mobile and small scree)*/
	float: left;
	width: 100%;
	margin-bottom: -5px;
	cursor: pointer;
}

@media (min-width: 700px) and (min-device-width:700px) {
	/*Two photos per row*/
	div.pic {
		width: 50%;
	}
}

@media (min-width: 1100px) {
	/*3 photos per row*/
	div.pic {
		width: 33.3%;
	}
}

@media (min-width: 1700px) {
	/*4 photos per row*/
	div.pic {
		width: 25%;
	}
}


/*Javascript divs*/

#Fullscreen {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 21;
	background-image: url("");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#dimBackground {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.6;
	z-index: 20;
	height: 100%;
	width: 100%;
	background-repeat: repeat;
}


/*VIDEO PAGE*/

#videopageframe {
	margin: auto;
}

.video {
	padding: 5px;
	text-align: center;
	margin: auto;
}

.videowrapper {
	float: left;
	width: 100%;
	padding-bottom: 50px;
}

.videoframe {
	width: 640px;
	height: 360px;
}

@media (min-width: 1300px) and (min-device-width: 1300px) {
	#videopageframe {
		width: 1400px;
	}
	.videowrapper {
		width: 50%;
	}
}

@media (max-device-width: 700px) {
	/*Make videos bigger on small mobile devices*/
	.video h2 {
		font-size: 30pt;
	}
	.video p {
		font-size: 150%;
	}
	.videoframe {
		width: 95%;
		height: 56vw;
	}
	#videopageframe {
		width: 100%;
	}
	.video {
		width: 100%;
	}
}

@media (max-width: 660px) {
	/*Make videos fit into small screens*/
	.videoframe {
		width: 95%;
		height: 56vw;
	}
	#videopageframe {
		width: 100%;
	}
	.video {
		width: 100%;
	}
}


/*ABOUT ME*/

.aboutwrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: block;
}

#about {
	float: left;
	width: 50%;
	max-width: 475px;
	margin: 20px;
}

#about p {
	line-height: 140%;
	text-indent: 3em;
}

#about h2 {
	text-align: center;
}

#tim {
	float: right;
	width: 50%;
	max-width: 475px;
	margin-left: 20px;
	padding-top: 40px;
	padding-bottom: 4em;
}

@media (max-width: 1023px) {
	/*One center column if window too small*/
	#about {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		float: none;
		margin: auto;
	}
	#tim {
		width: 100%;
		float: none;
		margin: auto;
	}
}

@media (max-device-width: 700px) {
	/*fix large margin on mobile*/
	#about,
	#tim {
		max-width: none;
	}
}


/*RESOURCES AND GEAR*/

#reswrapper {
	margin: auto;
	max-width: 1000px;
}

#reswrapper p,
#gearwrapper p {
	padding-left: 1em;
	padding-right: 1em;
	text-indent: 4em;
}

#reswrapper h2,
#gearwrapper h2 {
	text-align: center;
	padding-top: 8px;
}

#reswrapper a,
#gearwrapper a {
	text-decoration: none;
	color: inherit;
}

#reswrapper a:hover,
#gearwrapper a:hover {
	text-decoration: underline;
}

#reswrapper ul {
	color: dimgray;
	text-align: center;
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
}


/*GEAR*/

#gearwrapper {
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	max-width: 800px;
	display: block;
}

hr {
	clear: both;
	margin: 7px;
}

#gearwrapper h3 {
	text-align: left;
	font-family: 'Muli', sans-serif;
	font-weight: lighter;
	font-size: 15pt;
	color: dimgray;
	margin: 0;
	padding: 0;
}

.equipment {
	clear: both;
	width: 100%;
	height: 100%;
}

.equipment img {
	float: right;
	max-height: 200px;
	width: auto;
}